body {
    font-family: Arial;
    text-align: center;
    background: #111;
    color: white;
}
h2{
    margin-top: 20px;
    font-size: 80px;
    font-style: italic;
}


button {
    border: 2px solid black;
    transition: 0.2s ease;
}

button:hover {
    transform: scale(1.05);
}

a {
    border: 2px solid black;
    transition: 0.2s ease;
}

a:hover {
    transform: scale(1.05);
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px; 
}
#checkButton {
    border-radius: 20px;
    padding: 20px;
    margin: 0px;
    color: white;
    background-color: rgb(97, 99, 97);
    border-color: #363636;
}
#nextButton {
    border-radius: 20px;
    padding: 30px;
    margin: 0px;
    color: white;
    background-color: rgb(97, 99, 97);
    border-color: #363636;
}
.inputs {
    display: flex;
    flex-direction: column; 
    gap: 10px;              
    width: 300px;
    margin: 20px auto;     
    align-items: center;
}

.guess {
    display: block;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;
}



#playButton {
    justify-content: center;
    border-radius: 40px;
    padding: 40px;
    margin: -25px;
    width: 115px;
    color: white;
    background-color: rgb(74, 216, 74);
    border-color: #0d9c15;
}

#playFullButton {
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    margin: 0px;
    width: 200px;
    color: white;
    background-color: rgb(97, 99, 97);
    border-color: #363636;
}

#settingsButton {
    position: fixed;
    top: 20px;
    left: 20px;
    border-radius: 20px;
    padding: 10px;
    margin: 0px;
    width: 40px;
    color: white;
    background-color: rgb(97, 99, 97);
    border-color: #363636;
}

#settings-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.settings-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 220px;
    background: rgb(27, 27, 27);
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;

}

.close-settings {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

#howToPlay-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

#howToPlayButton {
    position: fixed;
    top: 80px;
    left: 14px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 400px;
    color: white;
    background-color: rgb(97, 99, 97);
    border-color: #363636;
}

.howtoplay-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 300px;
    background: rgb(27, 27, 27);
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;

}

.spotifyLink {
    position: fixed;
    top: 130px;
    left: 14px;
    border-radius: 20px;
    padding: 9px;
    margin: 10px;
    width: 377px;
    color: white;
    background-color: rgb(97, 99, 97);
    border-color: #363636;
    text-decoration: none;
}

.hidden {
    display: none;
}