body {
    font-family: Arial;
    text-align: center;
    background: #111;
    color: white;
}

.inputs {
    display: flex;
    flex-direction: column; /* jedno pod drugim */
    gap: 10px;              /* odstęp między nimi */
    width: 300px;
    margin: 50px auto;      /* wyśrodkowanie na stronie */
    align-items: center;
}

.guess {
    display: block;
    width: 500px;
    
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

#playButton {
    transform: translate(-20px, 0px);
    padding: 15px;
    margin: 5px;
    color: rgb(5, 146, 5);
}
#skipButton {
    transform: translate(-20px, 0px);
    padding: 15px;
    margin: 5px;
    color: rgb(177, 177, 11);
}
#checkButton {
    padding: 10px 18px;
    margin: 0 auto 5px auto;
    display: block;
}
